@model VerkiezingHelper.Models.OpenModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open</title>
</head>
<body>
    <div class="container" style="margin: 0 auto;">
        @using (Html.BeginForm("Load", "Default", FormMethod.Post))
        {
            
        }
    </div>
</body>
</html>
